<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>AutoShow - Car Shoowroom & Dealer Automotive Responsive HTML5 Template</title>
    <meta name="description" content="AutoShow is a full responsive template. The template has been created especially for automotive dealers, car showroom and auto motor retailers.">
    <meta name="keywords" content="car showroom, auto dealer, automotive, mechanic auto shop, automotive, mechanic workshop">
    <meta name="author" content="https://themeforest.net/user/quartzlab">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- Custom Color -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/green.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icon/apple-touch-icon-158-precomposed.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="animsition">
    <div class="site-wrapper header-top-with">
        <!-- header-area -->
        <header id="header" class="main-header">
<!--            <div class="header-top">-->
<!--                <div class="container">         -->
<!--                    <div class="top-left">-->
<!--                        <ul class="clearfix">-->
<!--                            <li>Autoshow is your reliable vehicle purchase!</li>-->
<!--                            <li><a href="appointment.html">Get a Free Test Drive Now <i class="fa fa-long-arrow-alt-right"></i></a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="top-right clearfix">-->
<!--                        <p><i class="fa fa-phone"></i> 24/7 Support  0900 123 4567</p>-->
<!--                        <div class="social">-->
<!--                            <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                            <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                            <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                            <a href="#"><i class="fa fa-youtube"></i></a>-->
<!--                        </div>-->
<!--                    </div>           -->
<!--                </div>-->
<!--            </div>-->
            <div class="container">
                <a class="main-logo" href="/index"><img src="/static/img/logo.png" data-sticky-logo="/static/img/logo.png" data-transparent-logo="/static/img/logo.png" alt=""></a>
                <ul class="header-buttons">
                    <li class="dropdown">
                        <a class="user-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu" id="userStatus">
                            <li id="usernm" style="margin-left: 30px;margin-top: -20px;font-size: larger"></li>
                        </ul>
                    </li>
                    <li><a class="search-trigger">搜索<span></span></a></li>
                    <li><a class="nav-trigger">菜单<span></span></a></li>
                </ul>
                <nav class="nav">
                    <ul id="primary-nav" class="primary-nav is-fixed">
                        <li><a href="/Index/clubs">社团列表</a></li>
                        <li><a href="">最近新闻</a></li>
                        <li><a href="/index/Messages">我的消息</a></li>
                    </ul>
                </nav>
                <div id="search" class="search">
                    <form>
                        <input type="search" placeholder="Search keywords">
                    </form>
                </div>

            </div>
        </header>
        <div class="overlay"></div>
        <!-- slider-area -->
        <section class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url(assets/img/slider/slider1.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5">
                                <div class="slider-content">
                                    <h2 class="text-accent-color letter-spacing-n05px" data-animation="fadeInDown" data-delay=".2s">Find the right car <br><span class="text-dark">for you.</span></h2>
                                    <p class="text-dark" data-animation="fadeInLeft" data-delay=".4s">We have more than a thousand cars for you to choose.</p>
                                    <div class="price-area" data-animation="fadeInUp" data-delay=".6s">
                                        <div class="price-col">
                                          <h3><span>$</span>2,399</h3>
                                          <div class="per-time">per month</div>
                                        </div>
                                        <div class="price-col">
                                          <h3><span>x</span>18</h3>
                                          <div class="per-time">months</div>
                                        </div>
                                    </div>
                                    <a href="#" class="button dark button-sliding-icon"  data-animation="fadeInUp" data-delay=".8s">get started <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url(assets/img/slider/slider2.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="slider-content">
                                    <h2 class="text-accent-color letter-spacing-n05px" data-animation="fadeInDown" data-delay=".2s">Find the right car <span>for you.</span></h2>
                                    <p class="text-dark" data-animation="fadeInLeft" data-delay=".4s">We have more than a thousand cars for you to choose.</p>
                                    <div class="price-area" data-animation="fadeInUp" data-delay=".6s">
                                        <div class="price-col">
                                          <h3><span>$</span>4,799</h3>
                                          <div class="per-time">per month</div>
                                        </div>
                                        <div class="price-col">
                                          <h3><span>x</span>36</h3>
                                          <div class="per-time">months</div>
                                        </div>
                                    </div>
                                    <a href="#" class="button dark button-sliding-icon"  data-animation="fadeInUp" data-delay=".8s">get started <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-bg d-flex align-items-center" style="background-image:url(assets/img/slider/slider3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-5 offset-xl-7">
                                <div class="slider-content">
                                    <h2 class="text-accent-color letter-spacing-n05px" data-animation="fadeInUp" data-delay=".2s">Gift your family a <br><span>trusted</span> new car</h2>
                                    <p class="text-dark" data-animation="fadeInLeft" data-delay=".4s">We have more than a thousand cars for you to choose.</p>
                                    <div class="price-area" data-animation="fadeInUp" data-delay=".6s">
                                        <div class="price-col">
                                          <h3><span>$</span>3,199</h3>
                                          <div class="per-time">per month</div>
                                        </div>
                                        <div class="price-col">
                                          <h3><span>x</span>24</h3>
                                          <div class="per-time">months</div>
                                        </div>
                                    </div>
                                    <a href="#" class="button dark button-sliding-icon"  data-animation="fadeInUp" data-delay=".8s">get started <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cars-area -->
        <section class="light-section section-block">

          <div class="section-space"></div>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 section-title-wrapper">
                      <h3 class="section-title">Featured Car Inventory</h3>
                      <p>Discover all the features of our vehicles.</p>
                  </div>
              </div>
          </div>

          <div class="car-carousel" data-auto="false" data-loop="true" data-nav="true" data-column="4" data-column2="3" data-column3="1" data-gap="30">

            <div class="owl-carousel owl-theme container">

              <div class="item-carousel clearfix">
                <div class="car">
                  <a href="#"><img src="assets/img/models/model1-menu.png" alt=""></a>
                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 1</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $24,659
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>

                  </div>                 
                </div>                
              </div>
               
              <div class="item-carousel clearfix">
                
                <div class="car">
                  
                  <a href="#"><img src="assets/img/models/model2-menu.png" alt=""></a>
                  
                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 2</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $21,123
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>

                  </div>
                  
                </div>
               
              </div>
                
              <div class="item-carousel clearfix">
                
                <div class="car">
                  
                  <a href="#"><img src="assets/img/models/model3-menu.png" alt=""></a>          

                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 3</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $55,450
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>

                  </div>
                  
                </div>
                
              </div>
                 
              <div class="item-carousel clearfix">
                
                <div class="car">
                  
                  <a href="#"><img src="assets/img/models/model4-menu.png" alt=""></a>
                  
                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 4</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $29,350
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>

                  </div>
                  
                </div>
                
              </div>
                  
              <div class="item-carousel clearfix">
                
                <div class="car">
                  
                  <a href="#"><img src="assets/img/models/model5-menu.png" alt=""></a>
                  
                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 5</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $41,359
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>

                  </div>
                  
                </div>
                
              </div>
                    
              <div class="item-carousel clearfix">
                
                <div class="car">
                  
                  <a href="#"><img src="assets/img/models/model1-menu.png" alt=""></a>
                 
                  <div class="car-description">

                    <h5 class="car-name"><a href="#">Model 6</a></h5>

                    <div class="car-area">

                      <div class="car-price">
                        $33,150
                      </div>

                      <div class="tech">
                        <span><i class="fa fa-gears" title="Motor power"></i> <small>200 hp</small> </span>
                        <span><i class="fa fa-dashboard" title="0 - 100 km / h acceleration"></i> <small>4,6 s</small> </span>
                        <span><i class="fa fa-battery-3" title="Fuel consumption"></i> <small>8,3 lt</small> </span>
                      </div>

                    </div>
                    
                  </div>
                 
                </div>
                
              </div>
             
            </div>

          </div>
          <div class="section-space"></div>

        </section>

        <!-- news-area -->
        <section class="white-section section-block">

            <div class="section-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper">
                        <h3 class="section-title">Latest News & Tips</h3>
                        <p>Discover all the features of our vehicles.</p>
                    </div>
                </div>
            </div> 

            <div class="container">   
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <article class="post-entry">
                                <div class="post-image">
                                    <a href="#">
                                        <img width="600" height="430" src="assets/img/post/post1.jpg" alt="">
                                        <span class="filter-grayscale"></span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h4 class="post-title"><a href="#">Test Driving Days from AutoShow</a></h4>
                                    <ul class="post-tags">
                                        <li>12 June 2018</li>
                                        <li><a href="#">Admin</a></li>
                                    </ul>
                                    <div class="description">
                                        <p>
                                        Podcasting operational change management inside of workflows to establish a framework....
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <article class="post-entry">
                                <div class="post-image">
                                    <a href="#">
                                        <img width="600" height="430" src="assets/img/post/post2.jpg" alt="">
                                        <span class="filter-grayscale"></span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h4 class="post-title"><a href="#">Quality and the New Perspective</a></h4>
                                    <ul class="post-tags">
                                        <li>14 June 2018</li>
                                        <li><a href="#">Admin</a></li>
                                    </ul>
                                    <div class="description">
                                        <p>
                                        Podcasting operational change management inside of workflows to establish a framework....
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <article class="post-entry margin-bottom-0">
                                <div class="post-image">
                                    <a href="#">
                                        <img width="600" height="430" src="assets/img/post/post3.jpg" alt="">
                                        <span class="filter-grayscale"></span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Cut Emissions, Save Costs and Win Business</a></h5>
                                    <ul class="post-tags">
                                        <li>16 June 2018</li>
                                        <li><a href="#">Admin</a></li>
                                    </ul>                                    
                                </div>
                            </article>
                        </div>  
                        <div class="col-md-4 col-xs-12">
                            <article class="post-entry margin-bottom-0">
                                <div class="post-image">
                                    <a href="#">
                                        <img width="600" height="430" src="assets/img/post/post4.jpg" alt="">
                                        <span class="filter-grayscale"></span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Cut Emissions, Save Costs and Win Business</a></h5>
                                    <ul class="post-tags">
                                        <li>12 June 2018</li>
                                        <li><a href="#">Admin</a></li>
                                    </ul>                                    
                                </div>
                            </article>
                        </div>  
                        <div class="col-md-4 col-xs-12">
                            <article class="post-entry margin-bottom-0">
                                <div class="post-image">
                                    <a href="#">
                                        <img width="600" height="430" src="assets/img/post/post5.jpg" alt="">
                                        <span class="filter-grayscale"></span>
                                    </a>
                                </div>
                                <div class="post-content">
                                    <h5 class="post-title"><a href="#">Cut Emissions, Save Costs and Win Business</a></h5>
                                    <ul class="post-tags">
                                        <li>12 June 2018</li>
                                        <li><a href="#">Admin</a></li>
                                    </ul>                                    
                                </div>
                            </article>
                        </div>
                    </div>
            </div>

        </section>
        <!-- counter-area -->
        <section class="counters white-section section-block">

            <div class="big-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper text-center">
                        <h3 class="section-title">Let the numbers speak for us</h3>
                        <p>Lorem Ipsum has been the industry’s standard dummy text.</p>
                    </div>
                </div>
            </div> 

            <div class="container">
                <div class="row">
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="320" data-inviewport="yes">320</span>+</h4>
                                <h5><strong>Successfully</strong><br>completed selling</h5>
                            </div>
                        </div>
                    </div>
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".6s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-group"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="26" data-inviewport="yes">26</span></h4>
                                <h5><strong>Highly</strong> specialised<br>employees</h5>
                            </div>
                        </div>
                    </div>
                    <div class="number col-md-4 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".9s">
                        <div class="numbers">
                            <div class="num-icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="num-content">
                                <h4 class="num-heading"><span class="accent" data-speed="3000" data-to="127" data-inviewport="yes">127</span></h4>
                                <h5><strong>Dealer</strong><br>completed selling</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="big-space"></div>
             
        </section>

        <!-- features-area -->
        <section class="primary-section section-block">

            <div class="section-bg" style="background-image: url('assets/img/parallax.jpg');"></div>

            <div class="section-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper">
                        <h3 class="section-title">Featured</h3>
                        <p>Discover all the features of our vehicles.</p>
                    </div>
                </div>
            </div> 

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box1.jpg" alt="">
                                    <h4 class="features-title">Design</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article> 
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box2.jpg" alt="">
                                    <h4 class="features-title">Performance</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <article class="features-entry">
                            <div class="image-holder margin-bottom-0">
                                <a href="#">
                                    <img width="800" height="500" src="assets/img/box/box3.jpg" alt="">
                                    <h4 class="features-title">Comfort</h4>
                                    <span class="features-overlay"></span>
                                </a>
                            </div>
                        </article> 
                    </div>
             
                </div>
            </div>
            <div class="section-space"></div>
             
        </section>
        <!-- testimonials-area -->

        <section class="light-section section-block">

            <div class="section-space"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 section-title-wrapper margin-bottom-0 text-center">
                        <h3 class="section-title">Our Testimonials</h3>
                        <p>Lorem Ipsum has been the industry’s standard dummy text.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row wow fadeInUp animated">
                    <div class="col-md-8 offset-md-2 col-12 offset-0">   
                        <div class="testimonials margin-top-20" data-auto="false" data-loop="false" data-column="1" data-column2="1" data-column3="1" data-gap="60">
                            <div class="owl-carousel owl-theme">

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
                                        <div class="testimonial-author">
                                            <h4>Sindy Forest</h4>
                                            <span>Dealer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
                                        <div class="testimonial-author">
                                            <h4>Tom Smith</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art.</div>
                                        <div class="testimonial-author">
                                            <h4>Sebastiano Piccio</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable sources.</div>
                                        <div class="testimonial-author">
                                            <h4>David Peterson</h4>
                                            <span>Customer</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-item clearfix">
                                    <div class="testimonial-box">
                                        <div class="testimonial">Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</div>
                                        <div class="testimonial-author">
                                            <h4>Marcin Kowalski</h4>
                                            <span>Dealer</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-space"></div>
            
        </section>
        <!-- brands-area -->
        <div class="white-section section-block">
        
            <div class="section-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">                        
                        <div class="partners" data-auto="false" data-loop="false" data-column="5" data-column2="3" data-column3="2" data-gap="60">
                            <div class="owl-carousel owl-theme">

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-1.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-2.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-3.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-4.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-5.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-6.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-7.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="partner-item clearfix">
                                    <div class="inner">
                                        <a target="_blank" href="#">
                                            <div class="thumb">
                                                <img src="assets/img/partner/logo-8.png" alt="Image">
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-space"></div>
        
        </div>
        <!-- cta bar -->
        <div class="cta-bar">
            <ul>
                <li><a href="#"><i class="fa fa-map-pin"></i> Find Dealer</a></li>
                <li><a href="#"><i class="fa fa-automobile"></i> Test Drive</a></li>
                <li><a href="#"><i class="fa fa-mobile-phone"></i> Let Us Call You</a></li>
                <li><a href="#" class="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i> Back to top</a></li>
            </ul>
        </div>
        <!-- footer-area -->
        <footer class="site-footer dark">
            <div class="footer-area">
                <div class="container">
                    <div class="row">

                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">All Models</h3>
                                <div class="quick-links">                              
                                        <ul>
                                            <li><a href="#">Autoshow Model 1</a></li>
                                            <li><a href="#">Autoshow Model 2</a></li>
                                            <li><a href="#">Autoshow Model 3</a></li>
                                            <li><a href="#">Autoshow Model 4</a></li>
                                            <li><a href="#">Autoshow Model 5</a></li>
                                        </ul>                              
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">Company Links</h3>
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Our Offers</a></li>
                                        <li><a href="#">Offices</a></li>
                                        <li><a href="#">FAQs</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">Helpful Links</h3>
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms of Use</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="widget">
                                <h3 class="widget-title">Account</h3>
                                <div class="quick-links">
                                    <ul>
                                        <li><a href="#">Log In</a></li>
                                        <li><a href="#">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12">
                            <div class="dealerfinder">
                                <h3 class="section-title">Find Dealer</h3>
                                <p>Find your nearest authorized dealer for sales, expert advice and support.</p>
                                <form>
                                    <div class="input-group">
                                        <input type="text" placeholder="Enter your city">
                                        <span class="input-group-btn">
                                            <button class="button" type="button"><i class="fa fa-angle-right"></i></button>
                                        </span>
                                    </div>
                                </form>
                                <div class="checkbox">
                                    <input type="checkbox" id="SelectAll">
                                    <label for="SelectAll"><span class="checkbox-icon"></span> Select All</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="RentCars">
                                    <label for="RentCars"><span class="checkbox-icon"></span> Rent Cars</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="PartsShop">
                                    <label for="PartsShop"><span class="checkbox-icon"></span> Parts Shop</label>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>  
            </div>  

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="copyright-text">
                            © Autoshow. All Rights Reserved.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </footer>
    </div>
</div>
<!-- Javascript -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/animsition.js"></script>
<script src="assets/js/jquery.appear.min.js"></script>
<script src="assets/js/countto.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/jquery.stickit.min.js"></script>
<script src="assets/js/jquery.parallax-1.1.3.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/magnific.popup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>