{include file='/common/head' /}
<body>
<div class="animsition">
    <div class="site-wrapper">
        <!-- header-area -->
        {include file='/common/header' /}
        <div class="overlay"></div>
        <!-- banner-area -->
        <section class="banner-section">
            <div class="section-bg" style="background-image: url('/static/img/parallax.jpg');"></div>
            <div class="container">
                <div class="row">
                    <div class="page-banner-content col">
                        <h1 class="text-white">注册</h1>

                        <!-- breadctumb -->
                        <ul class="page-breadcrumb">
                            <li><a href="Index/index.html">主页</a></li>
                            <li>注册</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- content-area -->
        <section class="white-section section-block">
            <div class="container">
                <div class="section-space"></div>
                <div class="row">
                    <div class="col-xl-5 offset-xl-3">

                        <div class="login-register-area">

                            <div class="text-center margin-bottom-20">
                                <h3 class="font-weight-600 no-margin">创建一个账号</h3>
                                <span>已经拥有账号了? <a href="/index/Login">去登录</a></span>
                            </div>
                            
                            <!-- Form -->
                            <form method="post" class="regisform">

                                <input type="text" class="input-text with-border" name="emailaddress-register" id="emailaddress-register" placeholder="邮箱地址" required/>

                                <input type="text" class="input-text with-border" name="schoolid" id="schoolid" placeholder="学号" required/>

                                <input type="text" class="input-text with-border" name="username" id="username" placeholder="用户名" required/>

                                <input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="输入密码" required/>

                                <input type="password" class="input-text with-border" name="password-repeat-register" id="password-repeat-register" placeholder="再次输入密码" required/>


                                
                            </form>
                            
                            <!-- Button -->
                            <button class="button dark full-width button-sliding-icon margin-top-10" type="submit" id="regisbtn">立即注册 <i class="fa fa-angle-right"></i></button>
                            
<!--                            <p class="margin-top-20 small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>-->

<!--                            &lt;!&ndash; Social Login &ndash;&gt;-->
<!--                            <div class="login-separator text-center"><span>or</span></div>-->
<!--                            <div class="login-buttons">-->
<!--                                <button class="facebook-login"><i class="fa fa-facebook"></i> Log In via Facebook</button>-->
<!--                                <button class="google-login"><i class="fa fa-google-plus"></i> Log In via Google+</button>-->
<!--                            </div>-->
                        </div>

                    </div>
                </div>       
                <div class="section-space"></div>
            </div>
        </section>
        <!-- cta bar -->
        {include file='/common/ctabar' /}
        <!-- footer-area -->
        {include file='/common/footer' /}
    </div>
</div>
<!-- Javascript -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<script src="/static/js/animsition.js"></script>
<script src="/static/js/jquery.appear.min.js"></script>
<script src="/static/js/countto.js"></script>
<script src="/static/js/slick.min.js"></script>
<script src="/static/js/jquery.stickit.min.js"></script>
<script src="/static/js/jquery.parallax-1.1.3.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
<script src="/static/js/magnific.popup.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/common.js"></script>
<script type="text/javascript">
    $(function () {
        var pwd1 = document.getElementById("password-register").value;
        var pwd2 = document.getElementById("password-repeat-register").value;
        <!-- 对比两次输入的密码 -->
        if(pwd1 != pwd2){
            alert('两次输入的密码不一致，请重试');
        }else {
            $("#regisbtn").on('click', function () {
                // alert('注册已提交，请等待!')
                $.ajax({
                    type: 'POST',
                    url: "{:url('/index/Register/register')}",
                    data: $(".regisform").serialize(),
                    dataType: "JSON",
                    success: function (data) {
                        if (data.status == 1) {
                            alert(data.message);
                            window.location.href = "{:url('/index/login')}";
                        } else {
                            alert(data.message);
                            window.location.href = "{:url('/index/register')}";
                        }
                    }
                })
            })
        }
    })

</script>
</body>
</html>