<footer class="site-footer">
    <div class="footer-area">
        <div class="container">
            <div class="row">

                <div class="col-xl-4 col-lg-2 col-md-3">
                    <div class="widget">
                        <h3 class="widget-title">所有社团</h3>
                        <div class="quick-links">
                            <ul>
                                <li><a href="/admin">进入管理员后台</a></li>
                                <li><a href="/index/Clubsignup">认证成为社团负责人</a></li>
                                <li><a href="/index/Profile">我的资料</a></li>
                                <li><a href="#">提交工单</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-2 col-md-3">
                    <div class="widget">
                        <h3 class="widget-title">更多</h3>
                        <div class="quick-links">
                            <ul>
                                <li><a href="/admin">进入管理员后台</a></li>
                                <li><a href="/index/Clubsignup">认证成为社团负责人</a></li>
                                <li><a href="/index/Profile">我的资料</a></li>
                                <li><a href="#">提交工单</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="dealerfinder">
                        <h3 class="widget-title">页面查找</h3>
                        <form>
                            <div class="input-group" style="margin-top: -10px;">
                                <input type="text" placeholder="搜索" id="searchstr" name="searchstr">
                                <span class="input-group-btn">
                                    <button class="button sbttn" type="button" id="search_btn"><i class="fa fa-angle-right"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copyright-text">
                        © 易航工作室. All Rights Reserved.
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-qq"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>