<header id="header" class="main-header">
                <div class="header-top">
<!--                    <div class="container">-->
<!--                        <div class="top-left">-->
<!--                            <ul class="clearfix">-->
<!--                                <li>Autoshow is your reliable vehicle purchase!</li>-->
<!--                                <li><a href="appointment.html">Get a Free Test Drive Now <i class="fa fa-long-arrow-alt-right"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="top-right clearfix">-->
<!--                            <p><i class="fa fa-phone"></i> 24/7 Support  0900 123 4567</p>-->
<!--                            <div class="social">-->
<!--                                <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#"><i class="fa fa-youtube"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
    <div class="container">
        <a class="main-logo" href="/index"><img src="{$logo_path}" data-sticky-logo="{$logo_path}" data-transparent-logo="{$logo_path}" alt=""></a>
        <ul class="header-buttons">
            <li class="dropdown">
                <a class="user-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
                <ul class="dropdown-menu" id="userStatus" style="border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                    <li></li>
                </ul>
            </li>
<!--            <li><a class="search-trigger">搜索<span></span></a></li>-->
<!--            <li><a class="nav-trigger">菜单<span></span></a></li>-->
            <li style="margin-top: 22px;font-size: larger"><span id="usernm"></span></li>
        </ul>
        <nav class="nav">
            <ul id="primary-nav" class="primary-nav is-fixed">
                <li><a href="">最近新闻</a></li>
                <li><a href="/Index/clubs">社团列表</a></li>
                <li><a href="/index/Messages">我的消息</a></li>
            </ul>
        </nav>
<!--        <div id="search" class="search">-->
<!--            -->
<!--            <form>-->
<!--                <input type="search" placeholder="Search keywords">-->
<!--            </form>-->
<!--        </div>-->

    </div>
</header>